@media only screen and (min-width: 1100px){

.header__ul{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 0;
}

}

.fotka--best-of img{
    max-width: 570px;
}
.section--green .section__text{
    max-width: 300px;
}
@media only screen and (min-width: 600px){
    .header__title{
        font-size: 64px;
    }
 .heading__zanrove-fotky{
     font-size: 36px;
 }
 .fotka__caption{
     font-size: 32px;
 }
 .section__heading{
     font-size: 32px;
 }
}  
@media only screen and (min-width: 900px){
    .section--green{
        display: flex;
       justify-content: space-between; 
    }
    .fotka--best-of{
        margin: 0;
    }
}
@media only screen and (min-width: 1268px){
    #my-gallery2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .my-gallery2__cast{
        margin: 20px;
        padding: 0;
    }
    .my-gallery2__cast--bila{
        order: 1;
    }
}
@media only screen and (min-width: 1792px){
    #my-gallery3{
        justify-content: center;
    }
}
@media only screen and (min-width: 1440px){
    .header__ul{
        padding: 0;
    }
    .header__title{
        align-items: center;
    }
   .header__title span{
        width: 1440PX;   
   }
   .section--uzsi{
    max-width: 1440px;
    margin: 0 auto;
   }
}
